.content {
    
}

.posts {
    padding-top: 20px;
}

.sendPost {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.textArea {
    
}

.textArea textarea {
    resize: none;
    overflow: auto;
    width: 1140px;
    height: 60px;
    border: none;

    background-color: rgb(221, 223, 217);
    font-size: 20px;
    /* box-shadow: 2px 2px 2px 0; */
    
}

.sendButton {
    align-self: flex-end;

    border: none;
    box-shadow: 2px 2px 2px 0;
    background-color: lightcoral;
    width: 100px;
    height: 50px;
    font-size: 30px;
}

.sendButton:hover {
    background-color: rgb(255, 172, 172);
}