.nav {
    height: auto;
    grid-area: n;
    /* background-color: rgb(82, 171, 215); */
  }
  
  .nav .item {
    height: 40px;
    line-height: 40px;
    background-color: rgb(82, 171, 215);
    margin: 0 0 5px 0; 
    box-shadow: 2px 2px 2px 0;
  }
  
  .nav .item a div {
    padding-left: 50px;
  }
  

  .nav .item:hover {
    background-color: rgb(184, 210, 232);
  }

  .nav .item:hover a {
    color: rgb(3, 27, 48);
  }